* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  line-height: normal;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgb(255, 98, 0);
  background: linear-gradient(127deg, rgb(255, 98, 0) 0%, rgb(255, 207, 0) 100%);
  position: fixed;
  backdrop-filter: blur(8px);
  width: 100%;
  height: 90px;
  z-index: 2;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px 0px;
  width: 1200px;
}
.nav-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  gap: 20px;
}
.nav-top-logo {
  height: 40px;
}
.nav-top-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  align-items: center;
}
.nav-top-search-input {
  width: 600px;
  height: 40px;
  padding: 10px 15px;
  font-size: 16px;
  border: solid 1.5px white;
  border-radius: 40px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
  outline: none;
}
.nav-top-search-input::placeholder {
  color: rgba(0, 0, 0, 0.5019607843);
}
.nav-top-search-input:focus {
  outline: solid 1.5px rgba(0, 0, 0, 0.2);
}
.nav-top-search-button {
  width: 50px;
  height: 40px;
  border-radius: 40px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  position: absolute;
  right: 0px;
  background: white;
  border: none;
  transition: 0.5s;
}
.nav-top-search-button:hover {
  background: #252525;
}
.nav-top-search-button:hover .bi-search {
  transition: 0.5s;
  color: white;
}
.nav-top-cart {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  transition: 0.4s;
  width: 100px;
}
.nav-top-cart:hover {
  transform: translate(0px, -2px);
}
.nav-top-cart img {
  width: 40px;
  height: 40px;
}
.nav-top-cart h5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: 0.4s;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  top: 11%;
  right: 37.5%;
  position: absolute;
  font-size: 16px;
}
.nav-bott {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  gap: 40px;
  justify-content: center;
  padding: 0;
  margin: 0;
  font-size: 16px;
}
.nav-bott-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.75);
  font-size: 16px;
  transition: 0.3s;
}
.nav-bott-link:hover {
  color: black;
}
.nav-bott-link svg {
  height: 14px;
}
.nav-bott-link .bi-person {
  height: 18px;
}

.bi-search {
  color: rgba(0, 0, 0, 0.5);
  width: 18px;
}

body {
  background-color: #ebebeb;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productoEncontrado {
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
  position: relative;
  align-items: center;
  gap: 5px;
  width: 250px;
  height: 390px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}
.productoEncontrado:hover {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
}
.productoEncontrado p {
  width: 100%;
  text-align: left;
  font-size: 12px;
  padding: 0px 15px;
  margin: 0;
}
.productoEncontrado button {
  position: absolute;
  bottom: 0;
  cursor: pointer;
  border: none;
  height: 30px;
  font-size: 12px;
  border-top: solid 1px #ebebeb;
  background-color: white;
  margin-top: 10px;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  transition: 0.3s;
}
.productoEncontrado button:hover {
  background-color: rgb(255, 98, 0);
  color: white;
}
.productoEncontrado img {
  width: 240px;
  padding: 5px;
  object-fit: cover;
}
.productoEncontrado svg {
  position: absolute;
  cursor: pointer;
  top: 15px;
  right: 15px;
  color: #afaeae;
  background-color: white;
}
.productoEncontrado svg path {
  width: 100%;
  height: 100%;
}

.sectionBusqueda {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding-top: 95px;
}
.sectionBusqueda h3 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: black;
  padding: 10px;
  width: 100%;
  margin: 0;
}

.resultadoBusquedaDiv {
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.titulo-pag {
  margin: 0;
  padding-top: 110px;
  padding-bottom: 20px;
  font-weight: normal;
  font-size: 20px;
}

.productos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 60%;
  gap: 15px;
}

.productoGeneral {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 350px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}
.productoGeneral img {
  width: 150px;
  left: 0;
}
.productoGeneral p {
  width: 100%;
  text-align: left;
  font-size: 12px;
  margin: 0;
}
.productoGeneral h3 {
  font-size: 18px;
  margin: 0;
}

.tituloProductos {
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 10px;
  margin: 0;
}

.metodosPago {
  margin: 15px 0px;
  padding: 20px;
  width: 60%;
  border-radius: 4px;
  text-align: center;
  background-color: white;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  transition: 0.4s;
}
.metodosPago h3, .metodosPago p {
  margin: 0;
}
.metodosPago-imagenes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.metodosPago-imagenes img {
  width: 300px;
}
.metodosPago-imagenes img:nth-child(2) {
  border-left: solid 4px #ebebeb;
  width: 450px;
}

svg.favoritosActivado {
  transition: 0.3s;
  color: rgb(255, 98, 0);
}

.bi-x {
  height: 25px;
  transition: 0.3s;
}
.bi-x:hover {
  color: rgb(0, 0, 0);
}

.bi-heart-fill {
  height: 20px;
}

.carrusel {
  width: 60%;
  align-items: center;
  position: relative;
  height: 300px;
  overflow: hidden;
  margin-top: 15px;
  border-radius: 5px;
}
.carrusel-portada {
  width: 400%; /*si son x imgs serian x * 100%*/
  height: 100%;
  display: flex;
  transition: all ease 0.6s;
}
.carrusel-portada-img {
  width: 25%;
  height: 100%;
}
.carrusel-portada-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carrusel-btn-izq, .carrusel-btn-der {
  display: flex;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 50%;
  font-size: 10px;
  background-color: transparent;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.4);
  transform: translate(0, -50%);
  transition: 0.5s ease;
  user-select: none;
}
.carrusel-btn-izq:hover, .carrusel-btn-der:hover {
  color: rgba(0, 0, 0, 0.8);
}
.carrusel-btn-der {
  right: 0;
}
.carrusel-btn-izq {
  left: 0;
}

.seccionFav {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding-top: 105px;
  padding-bottom: 40px;
}
.seccionFav h3 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: black;
  padding: 10px;
  width: 100%;
  margin: 0;
}

svg.eliminarFav {
  transition: 0.3s;
}
svg.eliminarFav :hover {
  color: black;
}

.seccionCarrito {
  width: 100%;
  padding-top: 115px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

#listaDeCarrito {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.productoEnCarrito {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: center;
  width: 60%;
  border-radius: 5px;
  padding-right: 30px;
  justify-content: space-between;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  background-color: white;
  height: 135px;
}
.productoEnCarrito img {
  height: 90%;
  border-radius: 5px;
}
.productoEnCarrito h3 {
  font-size: 28px;
  width: 200px;
  margin: 0;
}
.productoEnCarrito div {
  width: 400px;
}
.productoEnCarrito div h4 {
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  margin: 0;
}
.productoEnCarrito div p {
  font-size: 15px;
  font-weight: normal;
  text-align: left;
  margin: 0;
}
.productoEnCarrito #eliminarCart {
  border: none;
  background: none;
  width: 20px;
  height: 20px;
  transition: 0.3s;
}
.productoEnCarrito #eliminarCart:hover {
  transform: translate(0px, -3px);
}
.productoEnCarrito #eliminarCart img {
  transition: 0.3s;
  width: 20px;
  height: 20px;
}

.imagenVacio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  font-size: 20px;
  margin-top: 150px;
  color: rgba(0, 0, 0, 0.75);
}
.imagenVacio svg {
  width: 300px;
  height: 300px;
  color: rgba(255, 98, 0, 0.5);
}

.precioFinal {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  padding-top: 10px;
  border-top: solid 1px #252525;
}
.precioFinal h3 {
  font-size: 30px;
  margin: 0;
}
.precioFinal button {
  border: none;
  border-radius: 5px;
  font-size: 20px;
  padding: 15px 15px;
  transition: ease-out 0.3s;
  background-color: black;
  color: white;
}
.precioFinal button:hover {
  background-color: rgb(255, 98, 0);
  color: white;
}

.precioCarritoDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  align-items: center;
}
.precioCarritoDiv h3 {
  margin: 0;
  width: 150px;
}

.cantidad {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.cantidad input {
  width: 40px;
  color: black;
  background-color: rgba(255, 98, 0, 0.4);
  border: none;
  height: 30px;
  text-align: center;
  margin: 0;
  outline: none;
}
.cantidad button {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 98, 0, 0.7);
  height: 30px;
  width: 30px;
  font-size: 20px;
  border: none;
}
.cantidad input[type=number]::-webkit-inner-spin-button,
.cantidad input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.cantidad #sumaBtn {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  outline: none;
  transition: 0.4s;
}
.cantidad #sumaBtn:hover {
  background-color: rgb(255, 98, 0);
  color: white;
}
.cantidad #restaBtn {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  outline: none;
  transition: 0.4s;
}
.cantidad #restaBtn:hover {
  background-color: rgb(255, 98, 0);
  color: white;
}

/*# sourceMappingURL=styles.css.map */
