* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  line-height: normal;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 98, 0, 0.7);
  position: fixed;
  backdrop-filter: blur(8px);
  width: 100%;
  height: 90px;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px 0px;
  width: 65%;
}
.nav-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  gap: 20px;
}
.nav-top-logo {
  height: 40px;
}
.nav-top-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  align-items: center;
}
.nav-top-search-input {
  width: 600px;
  height: 40px;
  padding: 10px 15px;
  font-size: 16px;
  border: solid 1.5px white;
  border-radius: 40px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
  outline: none;
}
.nav-top-search-input::placeholder {
  color: rgba(0, 0, 0, 0.5019607843);
}
.nav-top-search-input:focus {
  outline: solid 1.5px rgba(0, 0, 0, 0.2);
}
.nav-top-search-button {
  width: 50px;
  height: 40px;
  border-radius: 40px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  position: absolute;
  right: 0px;
  background: white;
  border: none;
  transition: 0.5s;
}
.nav-top-search-button:hover {
  background: #252525;
}
.nav-top-search-button:hover .bi-search {
  transition: 0.5s;
  color: white;
}
.nav-top-cart {
  width: 40px;
  height: 40px;
  transition: 0.4s;
}
.nav-top-cart:hover {
  transform: translate(0px, -2px);
}
.nav-bott {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  gap: 40px;
  justify-content: center;
  padding: 0;
  margin: 0;
  font-size: 16px;
}
.nav-bott-link {
  text-decoration: none;
  color: black;
  font-size: 16px;
  transition: 0.3s;
}
.nav-bott-link:hover {
  color: white;
}

.bi-search {
  color: rgba(0, 0, 0, 0.5);
  width: 18px;
}

body {
  background-color: #ebebeb;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productoEncontrado {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 240px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}
.productoEncontrado:hover {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
}
.productoEncontrado p {
  width: 100%;
  text-align: left;
  font-size: 12px;
  padding: 0px 5px;
  margin: 0;
}
.productoEncontrado button {
  cursor: pointer;
  border: none;
  height: 30px;
  font-size: 12px;
  border-top: solid 1px #ebebeb;
  background-color: white;
  margin-top: 10px;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  transition: 0.3s;
}
.productoEncontrado button:hover {
  background-color: rgb(255, 98, 0);
  color: white;
}
.productoEncontrado img {
  width: 100%;
  padding: 5px;
  object-fit: cover;
}

.sectionBusqueda, .seccionFav {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding-top: 95px;
}
.sectionBusqueda h3, .seccionFav h3 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: black;
  padding: 10px;
  width: 100%;
  margin: 0;
}

.resultadoBusquedaDiv {
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.titulo-pag {
  margin: 0;
  padding-top: 110px;
  padding-bottom: 20px;
  font-weight: normal;
  font-size: 20px;
}

.productos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 60%;
  gap: 15px;
}

.productoGeneral {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 350px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}
.productoGeneral img {
  width: 150px;
  left: 0;
}
.productoGeneral p {
  width: 100%;
  text-align: left;
  font-size: 12px;
  margin: 0;
}
.productoGeneral h3 {
  font-size: 18px;
  margin: 0;
}

.tituloProductos {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 5px;
  margin: 0;
  font-weight: bold;
}

.metodosPago {
  margin: 40px 0px;
  padding: 20px;
  width: 60%;
  border-radius: 4px;
  text-align: center;
  background-color: white;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  transition: 0.4s;
}
.metodosPago:hover {
  transform: translate(0px, -5px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.215);
}
.metodosPago h3, .metodosPago p {
  margin: 0;
}
.metodosPago-imagenes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.metodosPago-imagenes img {
  width: 300px;
}
.metodosPago-imagenes img:nth-child(2) {
  border-left: solid 4px #ebebeb;
  width: 450px;
}

/*# sourceMappingURL=styles.css.map */
