
.seccionCarrito {
  width: 100%;
  padding-top: 115px;
  padding-bottom: 50px;
  @include d-flex-col;
  align-items: center;
  gap: 30px ;
}

#listaDeCarrito {
  width: 100%;
  @include d-flex-col;
  align-items: center;
  gap: 20px;
}

.productoEnCarrito {
  @include d-flex-row;
  align-items: center;
  width: 60%;
  border-radius: 5px;
  justify-content:space-between;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  background-color: white;
  height: 135px;
  img{
    height: 90%;
    border-radius: 5px;
  }
  h3 {
    font-size: 28px;
    width: 200px;
    margin: 0;
  }
  div {
    width: 400px;
    h4 {
      font-size: 25px;
      font-weight: bold;
      text-align: left;
      margin: 0;
    }
    p {
      font-size: 15px;
      font-weight: normal;
      text-align: left;
      margin: 0;
    }
  }
  
  #eliminarCart {
    border: none;
    background: none;
    width: 20px;
    height: 20px;
    transition: .3s;
    &:hover {
      transform: translate(0px, -3px);
    }
    img {
      transition: .3s;
      width: 20px;
      height: 20px;
    }
  }
}

.imagenVacio { //para vacio en favoritos y carrito
  @include d-flex-col;
  align-items: center;
  justify-content: center;
  gap: 25px;
  font-size: 20px;
  margin-top: 150px;
  color: rgba(0, 0, 0, 0.75);
  svg {
    width: 300px;
    height: 300px;
    color: rgba(255, 98, 0, 0.50);
  }
}

.precioFinal {
  @include d-flex-row;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  padding-top: 10px;
  border-top: solid 1px #252525;
  h3 {
    font-size: 30px;
    margin: 0;
  }
  button {
    border: none;
    border-radius: 5px;
    width: 200px;
    font-size: 20px;
    padding: 15px 15px;
    transition: ease-in-out .4s;
    background-color: black;
    color: white;
    &:hover {
      box-shadow: 0px 0px 5px $naranjaMain;
      text-shadow: 0px 0px 3px black;
      width: 250px;
      background-color: $naranjaMain;
      color: white;
    }
  }
}

.precioCarritoDiv {
  @include d-flex-row;
  justify-content: space-around;
  align-items: center;
  h3 {
    margin: 0;
    width: 150px;
  }
}

.cantidad {
  @include d-flex-row;
  justify-content: center;
  input {
    width: 50px;
    color: black;
    background-color: rgba(255, 98, 0, 0.3);
    border: none;
    height: 30px;
    font-size: 20px;
    text-align: center;
    margin: 0;
    outline: none;
  }
  button {
    @include d-flex-row;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 98, 0, 0.7);
    height: 30px;
    width: 40px;
    font-size: 25px;
    font-weight: bold;
    border: none;
  }
  
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }
  #sumaBtn {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    outline: none;
    transition: .4s;  
    &:hover {
      background-color: $naranjaMain;
      color: white;
    }
  }
  #restaBtn {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    outline: none;
    transition: .4s;
    &:hover {
      background-color: $naranjaMain;
      color: white;
    }
  }
}

.actualizarPrecioFinal-oculto {
  display: none;
}

.actualizarPrecioFinal{
  font-size: 15px;
  cursor: pointer;
  transition: .4s;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  background-color: red;
  
  color: white;
  &:hover {
    background-color: $naranjaMain;
  }
}