
.seccionCarrito {
  width: 100%;
  padding-top: 115px;
  padding-bottom: 50px;
  @include d-flex-col;
  align-items: center;
  gap: 30px ;
}

#listaDeCarrito {
  width: 100%;
  @include d-flex-col;
  align-items: center;
  gap: 20px;
}

.productoEnCarrito {
  @include d-flex-row;
  align-items: center;
  width: 50%;
  border-radius: 5px;
  padding-right: 30px;
  justify-content:space-between;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  background-color: white;
  height: 135px;
  img{
    height: 90%;
    border-radius: 5px;
  }
  h3 {
    font-size: 28px;
    width: 200px;
    margin: 0;
  }
  div {
    width: 400px;
    h4 {
      font-size: 25px;
      font-weight: bold;
      text-align: left;
      margin: 0;
    }
    p {
      font-size: 15px;
      font-weight: normal;
      text-align: left;
      margin: 0;
    }
  }
  
  button {
    border: none;
    background: none;
    width: 20px;
    height: 20px;
    transition: .3s;
    &:hover {
      transform: translate(0px, -3px);
    }
    img {
      transition: .3s;
      width: 20px;
      height: 20px;
    }
  }
}

.imagenVacio { //para vacio en favoritos y carrito
  @include d-flex-col;
  align-items: center;
  justify-content: center;
  gap: 25px;
  font-size: 20px;
  margin-top: 150px;
  color: rgba(0, 0, 0, 0.75);
  svg {
    width: 300px;
    height: 300px;
    color: rgba(255, 98, 0, 0.50);
  }
}

.precioFinal {
  @include d-flex-row;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  padding-top: 10px;
  border-top: solid 1px #252525;
  h3 {
    font-size: 30px;
    margin: 0;
  }
  button {
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 15px 15px;
    transition: ease-out .3s;
    background-color: black;
    color: white;
    &:hover {
      background-color: $naranjaMain;
      color: white;
    }
  }
}
