.seccionFav {
  @include d-flex-col;
  width: 100%;
  align-items: center;
  padding-top: 105px;
  padding-bottom: 40px;
}

.bi-x {
  height: 35px;
  transition: .3s;
  &:hover {
    color: rgb(0, 0, 0);
  }
}
