body {
  background-color: #ebebeb;
}
main {
  @include d-flex-col;
  align-items: center;
}
.productoEncontrado {
  @include d-flex-col;
  align-items: center;
  gap: 5px;
  width: 240px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  transition: .3s;
  &:hover {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
  }
  p {
    width: 100%;
    text-align: left;
    font-size: 12px;
    padding: 0px 5px;
    margin: 0;
  }
  button {
    cursor: pointer;
    border: none;
    height: 30px;
    font-size: 12px;
    border-top: solid 1px #ebebeb;
    background-color: white;
    margin-top: 10px;
    width: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: .3s;
    &:hover {
      background-color: rgba(255, 98, 0);
      color: white;
    }
  }
  img {
    width: 100%;
    padding: 5px;
    object-fit: cover;
  }
}
.sectionBusqueda, .seccionFav {
  @include d-flex-col;
  width: 100%;
  align-items: center;
  padding-top: 95px;
  h3 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: black;
    padding: 10px;
    width: 100%;
    margin: 0;
  }
}

.resultadoBusquedaDiv {
  width: 60%;
  @include d-flex-row;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.titulo-pag {
  margin:0;
  padding-top: 110px;
  padding-bottom: 20px;
  font-weight: normal;
  font-size: 20px;
}

.productos {
  @include d-flex-row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 60%;
  gap: 15px;
}

.productoGeneral {
  @include d-flex-row;
  padding: 5px;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 350px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  transition: .3s;
  img {
    width: 150px;
    left: 0;
  }
  p {
    width: 100%;
    text-align: left;
    font-size: 12px;
    margin: 0;
  }
  h3 {
    font-size: 18px;
    margin: 0;
  }
}

.tituloProductos {
  font-size: 20px;
  padding: 10px 0px;
  margin: 0;
  font-weight: bold;
}

.metodosPago {
  margin: 40px 0px;
  padding: 20px;
  width: 60%;
  border-radius: 4px;
  text-align: center;
  background-color: white;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  transition: .4s;
  &:hover {
    transform: translate(0px, -5px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.215);
  }
  h3, p {
    margin: 0;
  }
  &-imagenes {
    @include d-flex-row;
    justify-content: space-around;
    img {
      width: 300px;
      &:nth-child(2) {
        border-left: solid 4px #ebebeb;
        width: 450px;
      }
    }
    
  }
}